<!-- Övergripande layout -->
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <!-- Skriver ut det namn som finns lagrat i variabeln -->
    <title>@ViewData["title"]</title>
    <link rel="stylesheet" href="css/styles.css" />
</head>

<body>
    <div id="page-wrapper">
        <!-- Sidhuvud -->
        <header>
            <div id="header-wrapper">
                <!-- Logotyp -->
                <div id="logo">
                    <a href="/">
                        <img src="images/logo.png" alt="Rakhyvel" />
                    </a>
                </div>
                <!-- Datum -->
                <p id="date">Dagens datum är @DateTime.Now.Date.ToShortDateString()</p>
                <!-- Hamburgerikon och -meny -->
                <a href="#mobile-nav" id="nav-icon">=</a>
                <nav id="mobile-nav">
                    <ul class="nav">
                        <li><a href="/">Stäng</a></li>
                        <li><a href="/">Start</a></li>
                        <li><a href="/razor">Razor</a></li>
                        <li><a href="/about">Om sidan</a></li>
                    </ul>
                </nav>
            </div>
        </header>

        <!-- Innehåll -->
        <main>
            <div id="main-wrapper">
                <!-- Desktopmeny -->
                <nav id="desktop-nav">
                    <ul class="nav">
                        <!-- Beroende på vilken sida som är öppen, skrivs menyn ut med klassnamn för den navigeringslänk som ska framhävas. -->
                        @{
                            if ((string?)ViewData["title"] == "Start")
                            {
                                <li class="active-page"><a class="active-page-link" href="/">Start</a></li>
                                <li><a href="/razor">Razor</a></li>
                                <li><a href="/about">Om sidan</a></li>
                            }
                            else if ((string?)ViewData["title"] == "Razor")
                            {
                                <li><a href="/">Start</a></li>
                                <li class="active-page"><a class="active-page-link" href="/razor">Razor</a></li>
                                <li><a href="/about">Om sidan</a></li>
                            }
                            else
                            {
                                <li><a href="/">Start</a></li>
                                <li><a href="/razor">Razor</a></li>
                                <li class="active-page"><a class="active-page-link" href="/about">Om sidan</a></li>
                            }
                        }
                        
                    </ul>
                    <button>Flytta menyn till höger</button>
                </nav>
                <!-- Innehåll från den öppna undersidan -->
                <section>
                    @RenderBody()
                    <br />
                </section>
            </div>
         </main>

         <!-- Sidfot -->
         <footer>
             <div id="footer-wrapper">
                 <p id="author">Av: Marco Zintl</p>
                 <p id="contact">Kontakta mig via e-post: <a href="mailto:mazi2001@student.miun.se">mazi2001@student.miun.se</a></p>
             </div>
         </footer>
    </div>
    <script src="js/main.js"></script>
</body>
</html>
