@page
@model Moment1._2.Pages.IndexModel

<!-- Lagrar sidans namn -->
@{
	ViewData["title"] = "Start";
}

<!-- Innehåll -->
<h1>Välkommen!</h1>
<p>A razor is a bladed tool primarily used in the removal of body hair through the act of shaving.[1] 
	Kinds of razors include straight razors, safety razors, disposable razors, and electric razors.
	While the razor has been in existence since before the Bronze Age (the oldest razor-like object has been dated to 18,000 BC[2]), 
	the most common types of razors in current usage are the safety razor and the electric razor, 
	though other kinds are still in use. </p>

<h2>History</h2>
<p>Razors have been identified from many Bronze Age cultures. 
	These were made of bronze or obsidian and were generally oval in shape, 
	with a small tang protruding from one of the short ends.[3]
Various forms of razors were used throughout history, which are different in appearance but similar in use to modern straight razors. 
In prehistoric times clam shells, shark teeth, and flint were sharpened and used to shave with. 
Drawings of such blades were found in prehistoric caves. Some tribes still use blades made of flint to this day. 
Excavations in Egypt have unearthed solid gold and copper razors in tombs dating back to the 4th millennium BC. 
Razors were used and manufactured in Kerma during the Bronze Age[4] Several razors as well as other personal 
hygiene artifacts were recovered from Bronze Age burials in northern Europe and are believed to belong to high status individuals.[5] 
The Roman historian Livy reported that the razor was introduced in ancient Rome in the 6th century BC. by legendary king Lucius Tarquinius Priscus. 
Priscus was ahead of his time because razors did not come to general use until a century later.[6] </p>
<p>Källa: Wikipedia</p>
<a>https://en.wikipedia.org/wiki/Razor</a>
